{% extends 'layout.jinja2' %}

{% block title%}Photos{% endblock %}
{% block og_title%}Photos{% endblock %}
{% block og_description %}Photos{% endblock %}

{% block body %}
            {%- for row in photos %}
                <div class="photos">
                {%- for photo in row %}
                    <a href="{{ request.route_path('photo_detail', id=photo.id) }}"><img src="{{ request.route_path('photo_image', id=photo.id, size='thumbnail', ext=photo.ext) }}" alt="{{ photo.id }}" width="190" height="190" /></a>
                {%- endfor %}
                </div>
            {%- endfor %}

            <ul class="related clearfix">
                {%- if current_page > 1 %}
                <li class="left">&laquo;<a href="{{ request.route_path('photo_list') }}?page={{ current_page - 1 }}">prev</a></li>
                {%- endif %}
                {%- if current_page < last_page %}
                <li class="right"><a href="{{ request.route_path('photo_list') }}?page={{ current_page + 1 }}">next</a>&raquo;</li>
                {%- endif %}
            </ul>
{% endblock %}
