{#- vim:set filetype=htmljinja shiftwidth=2: -#}
{% extends 'layout.jinja2' %}

{% block title%}Page{{ current_page }}{% endblock %}
{% block description %}Page{{ current_page }}{% endblock %}

{% block content %}
          <ul class="portfolio three-columns">
            {%- for photo in photos %}
            <li>
              <div class="item-image">
                <div class="gallery clearfix" >
                  <a href="{{ request.route_path('photo_detail', id=photo.id) }}">
                    <img src="{{ request.route_path('photo_image', id=photo.id, size='thumbnail', ext=photo.ext) }}"
                         alt="{{ photo.id }}">
                  </a>
                </div>
              </div>
              <div class="item-name">
                <p>{{ photo.created_at.strftime('%I:%M:%S %p - %b %d, %Y UTC') }}</p>
              </div>
            </li>
            {%- endfor %}
          </ul>

          <div class="pagination">
            {%- if current_page > 1 %}
            <a href="{{ request.route_path('photo_list', _query=(('page', current_page - 1), )) }}" class="newer-posts">&laquo; Newer</a>
            {%- endif %}
            {%- if current_page < last_page %}
            <a href="{{ request.route_path('photo_list', _query=(('page', current_page + 1), )) }}" class="older-posts">Older &raquo;</a>
            {%- endif %}
          </div>
{%- endblock %}
